<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Стили для основного контейнера */
        body {
            background-color: #f0f0f0; /* Цвет фона */
        }

        .container-fluid {
            background-color: #f0f0f0; /* Цвет фона */
        }

        /* Стили для пустого блока */
        .left-block {
            width: 150px; /* Ширина блока */
            height: 100vh; /* Высота блока */
            background-color: #ffffff; /* Цвет фона */
            float: left; /* Выравнивание по левому краю */
        }

        .main-block {
            padding-left: 200px;
            padding-right: 50px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-2 bg-dark" style="height: 50px;">
        <span class="text-light ml-2" th:text="'Username: ' + ${user.getUsername()}"></span>
        <input type="button" class="btn btn-primary mr-2" value="Logout" onclick="window.location.href = '/logout'">
    </div>

    <div class="left-block">
        <div th:each="role : ${user.roleList}">
            <input type="button" class="btn btn-primary mr-2 mb-2 mt-2" th:value="${role.name}">
        </div>
    </div>

    <div class="main-block">
        <h2 class="mb-4">Admin panel</h2>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#usersTable">Users Table</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#addUser">New User</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="usersTable">
                <div class="card">
                    <div class="card-header">
                        All Users
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.username}"></td>
                                <td>
                            <span th:each="role, iterStat : ${user.roleList}">
                                <span th:text="${role.name}"></span>
                                <span th:unless="${iterStat.last}">,</span>
                            </span>
                                    <span th:if="${#lists.isEmpty(user.roleList)}">No roles assigned</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                            data-target="#editModal"
                                            th:data-target="${'#edituser'+user.getId()}">
                                        Edit
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target="#deleteModal"
                                            th:data-target="${'#deleteModal'+user.getId()}">
                                        Delete
                                    </button>
                                </td>

                                <!-- EDIT beginning -->

                                <div class="modal fade" th:id="${'edituser'+user.getId()}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <form th:action="@{update_user}" th:object="${user}" method="POST">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel2">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center">

                                                    <div class="form-group">
                                                        <input th:type="hidden" class="form-control" id="id1"
                                                               th:value="${user.getId()}" th:name="id">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="username1"
                                                               class="col-form-label"><b>FirstName:</b></label>
                                                        <input type="text" class="form-control" id="username1"
                                                               th:value="${user.getFirstName()}" th:name="firstName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastName1" class="col-form-label"><b>Last name:</b></label>
                                                        <input type="text" class="form-control" id="lastName1"
                                                               th:value="${user.getLastName()}" th:name="lastName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email1"
                                                               class="col-form-label"><b>Username:</b></label>
                                                        <input type="email" class="form-control" id="email1"
                                                               th:value="${user.getUsername()}" th:name="username">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password1"
                                                               class="col-form-label"><b>Password:</b></label>
                                                        <input type="text" class="form-control" id="password1"
                                                               th:value="${user.getPassword()}" th:name="password">
                                                    </div>
                                                    <label for="roles1"><b>Role</b></label>
                                                    <select multiple class="form-control form-control-sm" id="roles1" name="roles" size="2" required>
                                                        <option th:each="role:${roles}" th:value="${role.name}" th:text="${role.name}" class="m-2"></option>
                                                        <option value="all" class="m-2">All Roles</option>
                                                    </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal delete-->

                                <div class="modal fade" th:id="${'deleteModal'+user.id}"
                                     th:data-user-id="${user.id}"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                <button type="button" class="close" data-dismiss="modal"></button>
                                            </div>
                                            <form method="post" action="/admin/delete_user">
                                                <div class="modal-body text-center">
                                                    <div class="form-group">
                                                        <label for="id2" class="col-form-label"><b>User ID:</b></label>
                                                        <input type="text" class="form-control" id="id2"
                                                               th:value="${user.getId()}" th:name="id" readonly/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="username2" class="col-form-label"><b>User Name:</b></label>
                                                        <input type="text" class="form-control" id="username2"
                                                               th:value="${user.getUsername()}" th:name="username"
                                                               readonly/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastName2" class="col-form-label"><b>Last Name:</b></label>
                                                        <input type="text" class="form-control" id="lastName2"
                                                               th:value="${user.getLastName()}" th:name="lastName"
                                                               readonly/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email2" class="col-form-label"><b>First
                                                            Name:</b></label>
                                                        <input type="text" class="form-control" id="email2"
                                                               th:value="${user.getFirstName()}" th:name="firstName"
                                                               readonly/>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!--       DELETE end-->

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Add User -->
            <div class="tab-pane fade" id="addUser">
                <div class="card">
                    <div class="card-header">
                        <h4>Add new User</h4>
                        <div class="col-md bg-white border">

                            <form align="center" class="offset-md-4 col-md-3 mt-4 mb-4"
                                  action="/admin/save_user" method="post">

                                <label class="font-weight-bold text-center">First name</label>
                                <input type="text" class="form-control" name="firstName"/>
                                <br>
                                <label class="font-weight-bold text-center">Last Name</label>
                                <input type="text" class="form-control" name="lastName"/>
                                <br>
                                <label class="font-weight-bold text-center">Username</label>
                                <input type="text" class="form-control" name="username"/>
                                <br>
                                <label class="font-weight-bold text-center">Password</label>
                                <input type="text" class="form-control" name="password"/>
                                <br>
                                <label><b>Role</b></label>
                                <select size="3" multiple="multiple" name="roles" id="roles">
                                    <option disabled>Roles:</option>
                                    <th:block th:each="role : ${roles}">
                                        <option th:value="${role.name}" th:text="${role.name}"></option>
                                    </th:block>
                                    <option value="all">All Roles</option>
                                </select>
                                <br>
                                <button type="submit" class="btn btn-success" value="Add new user">
                                    Add new user
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ADD User Panel beginning -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>